<div>
 <h1>About</h1>
 <FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
</FORM>
 <p>This is the about page for the application</p>
 <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQhLliG5R8ldfOIoydfP672ecS9eJfuufUjY0sy_aAVsNEUymyWGQ"
<p />
 <p>Woody is the founding father of the World Domination Committee(WDC) at whispering pines.  It was his vision and desire that brought us into the light and continues to drive us forward toward our ultimate goal.</p>
<p />
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRcTv6feaajtey8w0kL2k35YkdyRQcRB7cOqIDn0p58l_a6tjBn"
<p />
<p>Buzz is the second in command here at Whispering Pines and is Woody's best friend. It was a long road for 
Buzz to come into the light and see that the WDC was only out to do good, but now that he has his, fire to achieve
our goal is matched only by the founding father himself. Buzz is also a NINJA!</p>
 </div>